<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" bootstrap="./vendor/autoload.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <clover outputFile="./build/coverage-clover.xml"/>
      <html outputDirectory="./build/coverage-html" lowUpperBound="99" highLowerBound="100"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="Noodle\Stateful">
      <directory>./test</directory>
    </testsuite>
  </testsuites>
</phpunit>
